head{
    display: grid;
}
body{ 
display: grid; /*this is to put everything in grid*/
margin: 1em;
}
.content{
    width:640px;
    height:500vh;
    font-size:14px;
    padding-top:100px;
    margin:0 auto 0;
}
.selfbox{
    grid-column: 3/span 2;
    align-self: center;
}
.image { /*this is to put the image in a circle and go to greyscale with transition*/
    display: grid;
    border-style: none;
    border-radius: 100%;
    filter: grayscale(0);
    transition-duration: 0.5s;
    display: block;
    margin: 0 auto;
}

.image:hover{ /*this is to have the image expand and look all nice and greyscale*/
    filter: grayscale(0);
    border-style: none;
    border-radius: 25%;
    filter: grayscale(1);
}

.title{ /*this is to have set up the title*/
    font-family: 'PT Sans', sans-serif;
    font-size: 400%;
    transition-duration: 0.5s;
    text-align: center;
    grid-column: 3/span 2;
    border: none;
    border-radius: 3px;
    margin: 10px;
    height: 100px;
    line-height:100px;
}
@media screen and (max-width: 600px) {
    .title{ /*this is to have set up the title*/
        font-family: 'PT Sans', sans-serif;
        font-size: 250%;
        transition-duration: 0.5s;
        text-align: center;
        grid-column: 3/span 2;
        border: none;
        border-radius: 3px;
        margin: 10px;
        height: 100px;
        line-height:100px;
    }
}

h1:hover{ /*this is to have set up the title so it expands on hover*/
    font-size: 550%;
    color: rgb(104, 103, 103);
}

h2{ /*this is to have set up the sub title*/
    font-family: 'PT Sans', sans-serif;
    font-size: 1.35em;
    color: rgb(61, 61, 61);
    transition-duration: 0.5s;  
    text-align: center;
}
h3{ /*this is to have set up the sub title*/
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    color: rgb(82, 81, 81);
    transition-duration: 0.5s;  
    text-align: center;
}
.myname{
    font-family: 'PT Sans', sans-serif;
    font-size: 200%;
    transition-duration: 0.5s;
    text-align: center;
    grid-column: 3/span 2;
    border: none;
    border-radius: 3px;
    margin: 10px;
}
.myname:hover{ /*this is to have set up the sub title so it expands on hover*/
    color: rgb(165, 165, 165);
    font-size: 1.5em;
}
p{ /*this is to set up the paragraph font*/
    font-family: 'Public Sans', sans-serif;
}
.text{
    text-align: center;
    grid-column: span 6;
    font-size: 1.5em;
}
.link{
    grid-column: 3/span 2;
    align-self: center;
}
.list_text{
    
    align-items: center;
    align-self: center;
}
.link_items{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(5, 1fr); /* this was learned from Jorge Montoya on his blog https://www.joomlashack.com/blog/tutorials/center-and-align-items-in-css-grid/ */
        align-self: center;
        text-align: center;
        justify-content: center;
        margin: 10px;
        
}
.portfolio{
    text-align: center;
    justify-items: center;
    
    grid-column:  3/span 2;
    display: grid;
    grid-gap: 10px; /* this was learned from Jorge Montoya on his blog https://www.joomlashack.com/blog/tutorials/center-and-align-items-in-css-grid/ */
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100%;
    display: grid;
    
}
.Dinoboy{
    align-self: center;
    justify-items: center;
    text-align: center;
    object-fit: scale-down; max-width: 100%;
}

.sublist{
    font-family: 'Inconsolata', monospace;
    color: #4e4e4e;
    font-size: 1em;  
    text-align: center;
    list-style: none;
}
.sublist a{
    font-family: 'Inconsolata', monospace;
    color: #4e4e4e;
    font-size: 1em;  
    text-align: center;
    list-style: none;
    text-decoration: none;
}
/*this is the images, 
they need to be individuals as they saturate differently 
and them all under one boat breaks the individual saturation 
when you hover over it*/
.telephone{
    border: none;
    border-radius: 3px;
    display: grid;
    filter: grayscale(0);
    transition-duration: 0.5s;
    display: block;
    margin: 0 auto; 
    align-self: center;
}
.telephone:hover{
    filter: saturate(0);
    border-style: none;
    border-radius: 25%;
    filter: saturate(15);
}
.github{
    border:none;
    border-radius: 3px;
    display: grid;
    filter: grayscale(0);
    transition-duration: 0.5s;
    display: block;
    margin: 0 auto; 
    align-self: center;
}
.github:hover{
    filter: saturate(0);
    border-style: none;
    border-radius: 25%;
    filter: saturate(15);
}
.email{
    border:none;
    border-radius: 3px;
    display: grid;
    filter: grayscale(0);
    transition-duration: 0.5s;
    display: block;
    margin: 0 auto; 
    align-self: center;
}
.email:hover{
    filter: saturate(0);
    border-style: none;
    border-radius: 25%;
    filter: saturate(15);
}
.linkedin{
    border:none;
    border-radius: 3px;
    display: grid;
    filter: grayscale(0);
    transition-duration: 0.5s;
    display: block;
    margin: 0 auto; 
    align-self: center;
}
.linkedin:hover{
    filter: saturate(0);
    border-style: none;
    border-radius: 25%;
    filter: saturate(15);
}
.twitter{
    border:none;
    border-radius: 3px;
    display: grid;
    filter: grayscale(0);
    transition-duration: 0.5s;
    display: block;
    margin: 0 auto; 
    align-self: center;
}
.twitter:hover{
    filter: saturate(0);
    border-style: none;
    border-radius: 25%;
    filter: saturate(15);
}

/* from here onwards i modified work done by Una Kravets on codepen https://codepen.io/una/pen/FEtze
a lot of it has been changed but crediting sources is a good idea*/
.sidebar{ /*this is to set up the sidebar*/
    display: grid;
    grid-column: 1/span 6;
    align-self: center;
    transition-duration: 0.5s;
  width:100%;
  border-radius: 10px;
  background: #98C1D9;
  color: #ffffff;
  position:relative;
  
  z-index:3;
  text-transform:uppercase;
}

.sidebar .menuoptions { /*this is to set up the sidebar text fonts and orgonization*/
    display: grid;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    margin: 0px;
    text-align: center;
    align-self: center; 
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    
  }
  .sidebar .menuoptions a { /*this is to set up the sidebar text fonts, colours, and transition*/
    transition-duration: 0.5s;
    border-style: none;
    border-radius: 25%;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    line-height: 1.5;
  }
  .sidebar .menuoptions a:hover { 
    border-style: none;
    border-radius: 10px; /* may require vendor prefixes */
    background: #087E8B;
    font-size: 1.75em;
    
  }
  
  .sidebar .menuoptions .list_text{
      text-align: center;
     font-size: 2.5vw;
  } 
  
  .stuck{
    grid-column: 1/span 6;
    position:fixed;
    top:0;
    border-radius: 10px;
    
    
  }
  .circles img {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    background: url(images/me-liz.jpg) no-repeat;
}

.circles {
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: opacity .25s ease-in-out;
}

.btn-get-resume .btn {
    font-size: 1.3rem;
    opacity: .75;
    transition: opacity .25s ease-in-out;
    color: rgb(33, 33, 139);
    font-family: sans-serif;
}

.btn-get-resume:hover {
    opacity: 0.5;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: rgb(242, 243, 247);
    border: 2px dotted;
    border-radius: 4px;
    text-decoration: none;
}
