*{
    font-family: "Rimouski";
    font-size: 1rem;
}
body{
    margin-top: 50px;
    overflow-y: hidden; 
    height: 90vh;
    width: 100vw;
    background: #F0F2F0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000C40, #F0F2F0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000C40, #F0F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: -2;
}
i{
    font-size: 4rem;
    color: rgba(21, 159, 244, 0.94);
    padding: 20px;
}
.card-header{
margin-top: 5px;
opacity: 0.75;
z-index: 1;
}
#quote{
    font-size: 1.2rem;
    color: rgba(11, 12, 12, 0.75);
}
.fa-redo-alt{
    color: rgba(11, 12, 12, 0.75);
}
.b-nav{
    font-size: 1.0em;
    margin: 0;
    text-align: center;
    padding: 5px 0;
}
@media screen and (min-width: 600px) {
	div.quote-container{
		width: 500px; 
    }
    p#quote{
        font-size: 1.7rem;
    }
}
.quote-container{
    width: 300px; 
    display: block;
    margin: 0 auto;
    /* border-radius: 0px; */
    padding-bottom : 15px;
}
.fa-redo-alt{
    color: rgb(108, 143, 162);
    
    }
    
    .quote-icon {
        width: 300px;
        height: 128px;
    }
     .quote-icon {
        width: 300px;
        height: 128px;
    } 
    
     .quote-icon img {
        display: block;
        margin: 0 auto;
    } 
    